<template>
  <div class="home">
    <br />
    <div class="container">
    <h3>Ponche de entrada</h3>
      <small v-if="err" class="form-text text-danger">* Nombre requerido</small>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3"
          >Nombre de empleado</span
        >
        <input
          type="text"
          class="form-control"
           v-model="userToSend.userName"
          id="basic-url"
          aria-describedby="basic-addon3"
        />
      
      
      </div>
    
      <div class="input-group mb-3">
        <input
          type="text"
          v-model="userToSend.dateIn"
          class="form-control"
          placeholder="Username"
          aria-label="Username"
          readonly
        />
      </div>
      <button @click="punch()" type="button" class="btn btn-secondary btn-lg">Ponchar</button>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import {  mapMutations,mapState } from 'vuex';
import Swal from 'sweetalert2'
export default {
  name: "Home",
  data() {
    return {
    
      err:false,
      currentTime:new Date(),
      userToSend:{
        userName:'',
       // id:0,
        dateIn:new Date(),
        dateTimeIn:'',
        status:'IN',
        typePuch:{
        food:1,
        break:2,
        out:1,
        in:3
      }
      },
  
/*
{
        code:"IN",
        name:"ENTRADA",
        aviableQuantityIn:4,
        aviable:true
      }*/
    };
  },
computed:{
 ...mapState(['employe']),
},
  methods: {
     ...mapMutations(['addEmploye']),
     
    punch(){
      if(this.userToSend.userName==''){
        this.err=true
      }else{
        this.err=false
        this.userToSend.id=this.employe.length+1
          this.userToSend.dateTimeIn=this.currentTime.getHours() + ":" + this.currentTime.getMinutes() + ":" + 
        this.currentTime.getSeconds()
        console.log(JSON.stringify(  this.employe))
         let  userFound=this.employe.find(
        (elements) => elements.userName == this.userToSend.userName
      );
      if(userFound){
        console.log(userFound.dateIn)
          console.log(this.isToday(new  Date(userFound.dateIn)))
          if(this.isToday(new  Date(userFound.dateIn)) && userFound.typePuch.in>0){
            Swal.fire('Empleado sin ponches cerrados')
          }else if(this.isToday(userFound.dateIn)){
             Swal.fire('Hoy ha  agotado ponches')
          }
      }else{
         this.addEmploye(this.userToSend)
      }
      
      console.log(JSON.stringify(this.userToSend.dateTimeIn))
     
       
      
      
      }
    },
     isToday(someDate){
  const today = new Date()
  return someDate.getDate() == today.getDate() &&
    someDate.getMonth() == today.getMonth() &&
    someDate.getFullYear() == today.getFullYear()
},
  },
};
</script>

