<template>
  <div class="about">
  <div  class="container">  

    <h3>Historico de empleados</h3>
    <br>
  <table class="table">
  <thead>
    <tr>

      <th scope="col">Nombre</th>
      <th scope="col">Fecha</th>
      <th scope="col">Tipo de punch</th>
      <th scope="col">Hora</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="item in data" :key="item.id">
    
      <td>{{item.userName}}</td>
      <td>{{item.dateIn}}</td>
      <td v-if="item.status=='OUT'">SALIDA</td>
      <td v-if="item.status=='IN'">ENTRADA</td>
      <td v-if="item.status=='LCH'">ALMUERZO</td>
      <td v-if="item.status=='BK'">BREAK</td>
      <td>{{item.dateTimeIn}}</td>
    </tr>
  </tbody>
</table>
  </div>
    
  </div>
</template>

<script>
import {  mapState } from "vuex";
export default {
  data() {
    return {
      data:JSON.parse(localStorage.getItem('test-vue-employe'))
    }
  },
  computed:{
     ...mapState(['employeToShow']),
  }
}
</script>
