<template>
  <div class="Second">
    <br />
    <div class="container">
      <h3> Ponche de break/almuerzo/salida</h3>
      <small v-if="err" class="form-text text-danger">* Nombre requerido</small>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3"
          >Nombre de empleado</span
        >
        <input
          type="text"
          class="form-control"
          
          v-model="userToSend.userName"
         
          id="basic-url"
          aria-describedby="basic-addon3"
        />
      </div>

      <div class="input-group mb-3">
        <input
          type="text"
          v-model="userToSend.dateIn"
          class="form-control"
          placeholder="Username"
          aria-label="Username"
          readonly
        />
      </div>
      <div class="input-group mb-3">
        <select @click="verify"
          v-model="typePunchSelected"
          class="form-select"
          aria-label="Default select example"
        >
          <option selected>Tipo de ponche</option>
        
          <option  v-for="type of options" :key="type.id" :value="type.code">
            {{ type.name }}
          </option>
        </select>
      </div>
      <button @click="punch()" type="button" class="btn btn-secondary btn-lg">
        Ponchar
      </button>
    </div>
  </div>
</template>

<script>

import { mapMutations, mapState } from "vuex";
import Swal from 'sweetalert2'

export default {
  data() {
    return {
      err: false,
      userFound:{},
      typePunchSelected: "LCH",
      currentTime: new Date(),
      
      userToSend: {
        userName: "",
        dateIn: new Date(),
        dateTimeIn: "IN",
      },
      options:this.typePunch
    };
  },
  computed: {
    ...mapState(["employe"]),
    ...mapState(["typePunch"]),
  },
  methods: {
    ...mapMutations(["addEmploye"]),
    ...mapMutations(["updateEmployes"]),

    punch() {
      if (this.userToSend.userName == "") {
        this.err = true;
      } else {
        this.err = false;
      
      this.userToSend.dateTimeIn =
        this.currentTime.getHours() +
        ":" +
        this.currentTime.getMinutes() +
        ":" +
        this.currentTime.getSeconds();

  
      const result = this.employe.find(
        (elements) => elements.userName == this.userToSend.userName
      );
      if(!result){
   Swal.fire('Empleado no encontrado')
      }else{
       this.seletion(this.typePunchSelected,result.id,result.typePuch,result)}}
    },
    seletion(data,id,result,resultInfo){
     
      let currentTime=new Date()
      var userToSend={
        userName:resultInfo.userName,
       // id:0,
        dateIn:new Date(),
        dateTimeIn:currentTime.getHours() + ":" + currentTime.getMinutes() + ":" + 
        currentTime.getSeconds(),
        status:resultInfo.status,
        
      }
      console.log(result.break)
      console.log(data)
        switch (data) {
        case "IN":
          console.log('entro y resta');
           this.updateEmployes({id,type:'IN',employe:userToSend})
            this.options=this.typePunch.slice(1)
          break;
        case "OUT":
          console.log(2);
          if(result.break >= 1){
               Swal.fire('Debe agotar ponches')
          }
           else if(result.food >= 1){
               Swal.fire('Debe agotar ponches')
          }else
            if(result.out < 1){
               Swal.fire('Ya ha salido')
            }else{
        this.updateEmployes({id,type:'OUT',employe:userToSend})
         Swal.fire('Empleado ha salido  por hoy')
        this.options=this.typePunch.slice(0)
            }
     
      
          break;
        case "BK":
         if(result.break < 1){
        // alert('ponche de break agotado')
         Swal.fire('Ponche de break agotado')
        }else{
       
         this.updateEmployes({id,type:'BK',employe:userToSend})
         this.options=this.typePunch.slice(0)
        }
       
          break;
        case "LCH":
          console.log(4);
          if(result.food < 1){
       
            Swal.fire('Ponche de Almuerzo agotado')
         
        }else{
          this.updateEmployes({id,type:'LCH',employe:userToSend})
          this.options=this.typePunch.slice(0)
        }
         
          break;
      }
      this.userToSend.userName=''
      this.typePunchSelected=''
      },
       verify(){
     console.log(this.userToSend.userName)
       this.userFound=this.employe.find(
        (elements) => elements.userName == this.userToSend.userName
      );
      console.log(JSON.stringify(this.userFound))
       console.log(this.userFound.status)
      if(!this.userFound){
         console.log('usuario no encontrado')
      }else{
      if ((this.userFound.typePuch.food < 1 || this.userFound.typePuch.break < 2) && this.userFound.status!='IN' ){
       this.options=this.typePunch.slice(0)
        console.log('ENTRAR aviable')
      }else{
        this.options=this.typePunch.slice(1)
           console.log('ENTRAR noo')
      }}
   },
  },
  created() {
    console.log("hey");
    this.options=this.typePunch.slice(1)
  },
};
</script>


